<div class="root">
  <button
    mat-button
    *ngFor="let option of options"
    (click)="userService.setSortName(option)"
  >
    {{ option | titlecase }}
    <mat-icon
      [ngClass]="{
        'icon-up': isUpSortIconClassName(option)
      }"
      >arrow_downward</mat-icon
    >
  </button>
  <mat-form-field>
    <input
      #filterInput
      matInput
      placeholder="{{ userService.filterConfig.name | titlecase }}"
      value="{{ userService.filterConfig.value }}"
    />
  </mat-form-field>
  <mat-button-toggle-group
    value="{{ userService.filterConfig.name }}"
    (change)="changeFilterName($event)"
  >
    <mat-button-toggle *ngFor="let option of options" value="{{ option }}">{{
      option | titlecase
    }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
